<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <property name="LOG_HOME" value="/usr/local/miner_pool/logs" />
    <!--读取application.yml配置文件-->
    <springProperty scope="context" name="serviceName" source="spring.application.name" defaultValue="UnknownService"/>
    <property name="myFilePattern" value="%d{yyyy-MM-dd HH:mm:ss.CTT} %-5level [${serviceName},%X{X-B3-TraceId},%X{X-B3-SpanId}] %logger:%L:%msg%n"/>

    <!--控制台日志， 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度,%msg：日志消息，%n是换行符-->
            <pattern>${myFilePattern}</pattern>
        </encoder>
    </appender>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>10.10.16.2:5145</destination>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <pattern>
                    <pattern>
                        {
                        "createTime": "%d{yyyy-MM-dd HH:mm:ss.CTT}",
                        "serviceName": "${serviceName}",
                        "level": "%-5level",
                        "traceid": "%X{X-B3-TraceId}",
                        "spanid": "%X{X-B3-SpanId:-}",
                        "class": "%logger:%L",
                        "msg": "%msg"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
        <!-- 这个配置是 向logstash输出日志如果有多个logstash IP或端口可以轮询负载各端口-->
        <connectionStrategy>
            <roundRobin>
                <connectionTTL>5 minutes</connectionTTL>
            </roundRobin>
        </connectionStrategy>
    </appender>

    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LOGSTASH"/>
    </root>
</configuration>