<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mei.hui.browser.mapper.FilExGasFeeTrendMapper">


    <!--近3小时封装Gas费用(Fil/TiB)-->
    <select id="selectThirdGasFeeList" resultType="com.mei.hui.browser.entity.FilExGasFeeTrend">
        SELECT TIMESTAMP,
            thirty_two_gas thirtyTwoGas,
            sixty_four_gas sixtyFourGas
        FROM
            fil_ex_gas_fee_trend
        <where>
            <if test="beforeThirdSecond != null">
                TIMESTAMP >= #{beforeThirdSecond}
            </if>
        </where>
        ORDER BY
            height
    </select>

</mapper>