<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mei.hui.miner.mapper.ChiaMinerMapper">

    <select id="selectAllBalanceMinerAccount" resultType="decimal">
        SELECT
            SUM(i.balance_miner_account) balanceMinerAccount
        FROM
            chia_miner i;
    </select>

    <select id="selectAllPowerAvailable" resultType="decimal">
        SELECT
            SUM(i.power_available) powerAvailable
        FROM
            chia_miner i
    </select>

    <select id="selectAllMinerIdCount" resultType="long">
        SELECT
            COUNT(i.miner_id) minerCount
        FROM
            chia_miner i
        where i.power_available > 0
    </select>

    <select id="selectAllBlocksPerDay" resultType="long">
        SELECT
            SUM(m.total_blocks) - SUM(d.total_blocks)
        FROM
            chia_miner m
        LEFT JOIN sys_agg_power_daily d
        on m.miner_id = d.miner_id
        <where>
             d.type = 'CHIA'
            <if test="yesterDayDate != null and yesterDayDate != ''">
                and d.date = #{yesterDayDate}
            </if>
        </where>
        GROUP BY m.user_id
    </select>

    <select id="powerAvailablePage" resultType="com.mei.hui.miner.model.PowerAvailableFilVO">
        SELECT
        i.user_id userId,
        SUM(i.power_available) powerAvailable,
        <if test="allPowerAvailable != null">
            SUM(i.power_available) / #{allPowerAvailable} powerAvailablePercent,
        </if>
        SUM(i.total_block_award) totalBlockAward,
        SUM(d.block_award_increase) / SUM(
        d.power_available / 1024 / 1024 / 1024 / 1024
        ) miningEfficiency,
        SUM(d.power_increase) powerIncrease
        FROM
        chia_miner i
        LEFT JOIN sys_agg_power_daily d ON i.miner_id = d.miner_id
        <where>
            d.type = 'CHIA'
            <if test="yesterDayDate != null and yesterDayDate != ''">
                and d.date = #{yesterDayDate}
            </if>
        </where>
        GROUP BY
        i.user_id
        ORDER BY
        SUM(i.power_available)
    </select>

    <!--通过userid集合批量获取旷工总算力、总收益、费率-->
    <select id="findBatchChiaMinerByUserId" parameterType="com.mei.hui.miner.feign.vo.UserMinerBO" resultType="com.mei.hui.miner.feign.vo.AggMinerVO">
        SELECT
            SUM(m.power_available) AS powerAvailable,
            SUM(m.total_block_award) AS totalBlockAward,
            m.user_id AS userId
        FROM
            chia_miner m
        GROUP BY
            m.user_id
        HAVING
            m.user_id IN
        <foreach collection="userIds" item="userId" open="(" close=")" separator=",">
            #{userId}
        </foreach>
        <choose>
            <when test="cloumName != null and cloumName != ''">
                <if test="'powerAvailable' == cloumName">
                    <choose>
                        <when test="isAsc == true">
                            ORDER BY SUM(m.power_available)
                        </when>
                        <otherwise>
                            ORDER BY SUM(m.power_available) desc
                        </otherwise>
                    </choose>
                </if>
                <if test="'totalBlockAward' == cloumName">
                    <choose>
                        <when test="isAsc == true">
                            ORDER BY SUM(m.total_block_award)
                        </when>
                        <otherwise>
                            ORDER BY SUM(m.total_block_award) desc
                        </otherwise>
                    </choose>
                </if>
            </when>
            <otherwise>
                ORDER BY SUM(m.power_available) desc
            </otherwise>
        </choose>
    </select>


</mapper>