<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mei.hui.miner.mapper.PoolInfoMapper">

    <resultMap id="PoolInfoResult" type="PoolInfo">
        <result property="workerCount" column="worker_count" />
        <result property="minerCount" column="miner_count" />
    </resultMap>

    <select id="selectMinerInfoByUserId" parameterType="Long" resultMap="PoolInfoResult">
        select count(1) as "miner_count"
        from sys_miner_info where user_id =  #{userId};
    </select>

    <select id="selectMachineInfoByUserId" parameterType="Long" resultMap="PoolInfoResult">
        select sum(machine.worker_count) as "worker_count"
        from (select miner_id , user_id from sys_miner_info where user_id = #{userId}) miner left join
             sys_machine_info machine on machine.miner_id = miner.miner_id
    </select>

    <select id="selectMachineInfoByUserIdAndMinerId"  resultMap="PoolInfoResult">
        select sum(machine.worker_count) as "worker_count"
        from (select miner_id , user_id from sys_miner_info where user_id = #{userId} and miner_id = #{minerId}) miner left join
             sys_machine_info machine on machine.miner_id = miner.miner_id
    </select>
</mapper>