<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mei.hui.miner.mapper.SwarmAggMapper">


    <select id="findChart" parameterType="Map" resultType="com.mei.hui.miner.feign.vo.FindChart">
        SELECT
            agg.link_num totallinkNum,
            agg.ticket_valid totalTicketValid,
            agg.convert_bzz totalConvertBzz,
            agg.date
        FROM
            swarm_one_hour_agg agg
        WHERE
            agg.date >= #{startDate}
        AND agg.user_id = #{userId}
        ORDER BY agg.date
    </select>

    <select id="findNodePageList" resultType="com.mei.hui.miner.feign.vo.NodePageListVO">
        SELECT
            n.userId,
            n.id nodeId,
            n.node_ip nodeIp,
            n.node_port nodePort,
            n.ticket_valid ticketValid,
            n.link_num linkNum,
            n.state,
            n.contract_address contractAddress,
            n.wallet_address walletAddress,
            n.`changed`,
            n.no_change noChange,
            n.money,
            n.create_time createTime,
            d.per_ticket_valid yestodayTicketValid,
            d.per_ticket_avail yestodayTicketAvail
        FROM
            swarm_node n
        LEFT JOIN swarm_one_day_agg d ON n.id = d.node_id
        ${ew.customSqlSegment}
    </select>


    <select id="selectYesterdayTicketValid" resultType="java.lang.Long">
        SELECT
        SUM(a.ticket_valid) ticketValid
        FROM
        swarm_one_day_agg a
        LEFT JOIN swarm_node n ON a.node_id = n.id
        <where>
            <if test="userId != null">
                n.userId = #{userId}
            </if>
            <if test="yesterDayDateYmd != null">
                and a.date = #{yesterDayDateYmd}
            </if>
        </where>
    </select>


</mapper>