<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mei.hui.miner.mapper.SwarmNodeMapper">

    <!--管理员首页-平台概览-总有效出票数，用的字段：有效出票数-->
    <select id="selectTicketValid" resultType="long">
        select
        SUM(ticket_valid) ticketValid
        FROM
        swarm_node
    </select>

    <!--管理员首页-平台概览-昨日有效出票份数-->
    <select id="selectYesterdayTicketValid" resultType="java.lang.Long">
        SELECT
        SUM(per_ticket_valid) perTicketValid
        from
        swarm_one_hour_agg
        <where>
            date >= #{beginYesterdayDate} AND  #{endYesterdayDate} >= date
        </where>
    </select>

    <!--管理员首页-平台概览-有效节点-->
    <select id="selectNodeValid" resultType="long">
        select
        count(1) nodeValid
        FROM
        swarm_node
        WHERE
        state = 1
    </select>

    <!--管理员首页-平台概览-平台总连接数-->
    <select id="selectLinkNum" resultType="long">
        select
        SUM(link_num) linkNum
        FROM
        swarm_node
    </select>

    <!--管理员首页-平台有效出票数排行榜-->
    <select id="ticketValidPage" resultType="com.mei.hui.miner.feign.vo.SwarmTicketValidVO">
        SELECT
        n.userId,SUM(n.ticket_valid) ticketValid,
        <if test="ticketValid != null">
            SUM(n.ticket_valid)/#{ticketValid} ticketValidPercent,
        </if>
        COUNT(n.id) nodeValid,SUM(link_num) linkNum
        FROM
        swarm_node n
        GROUP BY n.userId
    </select>

    <!--管理员-用户收益-多条件分页查询用户列表-->
    <select id="selectUserMoneyList" resultType="com.mei.hui.miner.feign.vo.SwarmUserMoneyVO">
        SELECT
            n.userId,
            SUM(n.ticket_valid) ticketValid,
            SUM(n.money) money
        FROM
            swarm_node n
        <where>
            1 = 1
            <if test="userId != null">
                and n.userId = #{userId}
            </if>
            <if test="userIdList != null and userIdList.size() > 0">
                and n.userId in
                <foreach collection="userIdList" item="userId" open="(" close=")" separator=",">
                    #{userId}
                </foreach>
            </if>
        </where>
        GROUP BY
            n.userId
        <choose>
            <when test="cloumName != null and cloumName != ''">
                <if test="'ticketValid' == cloumName">
                    <choose>
                        <when test="isAsc == true">
                            ORDER BY SUM(n.ticket_valid)
                        </when>
                        <otherwise>
                            ORDER BY SUM(n.ticket_valid) desc
                        </otherwise>
                    </choose>
                </if>
                <if test="'money' == cloumName">
                    <choose>
                        <when test="isAsc == true">
                            ORDER BY SUM(n.money)
                        </when>
                        <otherwise>
                            ORDER BY SUM(n.money) desc
                        </otherwise>
                    </choose>
                </if>
            </when>
            <otherwise>
                ORDER BY SUM(n.ticket_valid) desc
            </otherwise>
        </choose>
    </select>


</mapper>