<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mei.hui.miner.mapper.SwarmAggMapper">

    <select id="getPerTicketInfo" parameterType="Map" resultType="com.mei.hui.miner.entity.PerTicket">
        SELECT
            SUM(agg.per_ticket_avail) totalPerTicketAvail,SUM(agg.per_ticket_valid) totalPerTicketValid,agg.peer_id peerId FROM swarm_one_hour_agg agg
        <where>
            <if test="startDate != null">
                <![CDATA[agg.date >= #{startDate} ]]>
            </if>
            <if test="endDate != null">
                <![CDATA[and agg.date < #{endDate}]]>
            </if>
            <if test="peerIds != null">
            and agg.peer_id in
               <foreach collection="peerIds" item="item" open="(" close=")" separator=",">
               #{item}
               </foreach>
            </if>
        </where>
        GROUP BY agg.peer_id
    </select>


    <select id="findChart" parameterType="Map" resultType="com.mei.hui.miner.feign.vo.FindChart">
        SELECT
        SUM(agg.link_num) totallinkNum,SUM(agg.ticket_valid) totalTicketValid,SUM(agg.convert_bzz) totalConvertBzz,agg.date FROM swarm_one_hour_agg agg
        <where>
            <if test="startDate != null">
                <![CDATA[agg.date >= #{startDate} ]]>
            </if>
            <if test="endDate != null">
                <![CDATA[and agg.date < #{endDate}]]>
            </if>
            <if test="peerIds != null">
                and agg.peer_id in
                <foreach collection="peerIds" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        GROUP BY agg.date
    </select>

    <select id="perTicketPageList" resultType="com.mei.hui.miner.entity.PerTicket">
        SELECT
            SUM(agg.per_ticket_avail) totalPerTicketAvail,
            SUM(agg.per_ticket_valid) totalPerTicketValid,
            agg.peer_id peerId
        FROM
        swarm_one_hour_agg agg
        GROUP BY
            agg.peer_id
            <if test="isAsc == false">
                ORDER BY totalPerTicketVail DESC
            </if>
            <if test="isAsc == true">
                ORDER BY totalPerTicketVail asc
            </if>
    </select>


    <select id="selectYesterdayTicketValid" resultType="java.lang.Long">
        SELECT
        SUM(a.per_ticket_valid) perTicketValid
        from
        swarm_one_hour_agg a
        LEFT JOIN swarm_node n on a.peer_id = n.peer_id
        <where>
            <if test="userId != null">
                n.userId = #{userId}
            </if>
            <if test="beginYesterdayDate != null and endYesterdayDate != null">
                and a.date >= #{beginYesterdayDate} AND #{endYesterdayDate} >= a.date
            </if>
        </where>
    </select>


</mapper>