<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mei.hui.miner.mapper.SysMinerInfoMapper">
    
    <resultMap type="com.mei.hui.miner.entity.SysMinerInfo" id="SysMinerInfoResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="minerId"    column="miner_id"    />
        <result property="powerAvailable"    column="power_available"    />
        <result property="sectorPledge"    column="sector_pledge"    />
        <result property="sectorSize"    column="sector_size"    />
        <result property="sectorProving"    column="sector_proving"    />
        <result property="sectorTotal"    column="sector_total"    />
        <result property="sectorAvailable"    column="sector_available"    />
        <result property="sectorError"    column="sector_error"    />
        <result property="lockAward"    column="lock_award"    />
        <result property="totalBlockAward"    column="total_block_award"    />
        <result property="balanceMinerAvailable"    column="balance_miner_available"    />
        <result property="balanceMinerAccount"    column="balance_miner_account"    />
        <result property="totalBlocks" column="total_blocks"/>
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="balanceWorkerAccount"    column="balance_worker_account"    />
    </resultMap>

    <resultMap id="SysTotalEarningResult" type="com.mei.hui.miner.entity.SysTotalEarning">
        <result property="totalEarning" column="total_earning"/>
        <result property="totalLockAward" column="total_lock_award"/>
    </resultMap>

    <sql id="selectSysMinerInfoVo">
        select id, user_id, miner_id, power_available, sector_pledge, sector_size, sector_proving, sector_available,
        sector_error, lock_award, total_block_award, balance_miner_available, balance_miner_account,
        total_blocks, create_by, create_time, update_by, update_time,balance_worker_account
        from sys_miner_info
    </sql>

    <select id="selectSysMinerInfoList" parameterType="com.mei.hui.miner.entity.SysMinerInfo" resultMap="SysMinerInfoResult">
        <include refid="selectSysMinerInfoVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="minerId != null  and minerId != ''"> and miner_id = #{minerId}</if>
            <if test="powerAvailable != null "> and power_available = #{powerAvailable}</if>
            <if test="sectorPledge != null "> and sector_pledge = #{sectorPledge}</if>
            <if test="sectorSize != null "> and sector_size = #{sectorSize}</if>
            <if test="sectorProving != null "> and sector_proving = #{sectorProving}</if>
            <if test="sectorAvailable != null "> and sector_available = #{sectorAvailable}</if>
            <if test="sectorError != null "> and sector_error = #{sectorError}</if>
            <if test="lockAward != null "> and lock_award = #{lockAward}</if>
            <if test="totalBlockAward != null "> and total_block_award = #{totalBlockAward}</if>
            <if test="balanceMinerAvailable != null "> and balance_miner_available = #{balanceMinerAvailable}</if>
            <if test="balanceMinerAccount != null "> and balance_miner_account = #{balanceMinerAccount}</if>
            <if test="totalBlocks != null "> and total_blocks = #{totalBlocks}</if>
            <if test="balanceWorkerAccount != null "> and balance_worker_account = #{balanceWorkerAccount}</if>
        </where>
    </select>
    
    <select id="selectSysMinerInfoById" parameterType="Long" resultMap="SysMinerInfoResult">
        select id, user_id, miner_id, power_available, sector_pledge, sector_size, sector_proving, sector_available,
        sector_error, lock_award, total_block_award, balance_miner_available, balance_miner_account,
        total_blocks, create_by, create_time, update_by, update_time,
        balance_worker_account,sector_total
        from sys_miner_info
        where id = #{id}
    </select>

    <select id="selectSysMinerInfoByMinerId" parameterType="String" resultMap="SysMinerInfoResult">
        <include refid="selectSysMinerInfoVo"/>
        where miner_id = #{minerId}
    </select>

    <select id="selectSysMinerInfoByUserIdAndMinerId"  resultMap="SysMinerInfoResult">
        <include refid="selectSysMinerInfoVo"/>
        where user_id= #{userId} and miner_id = #{minerId}
    </select>

    <select id="selectTotalEarningAndAwardByUserId" parameterType="String" resultMap="SysTotalEarningResult">
        SELECT
          SUM(`total_block_award`) AS `total_earning`,
          SUM(`lock_award`) AS `total_lock_award`
        FROM
          `sys_miner_info`
        WHERE `miner_id` = #{minerId} ;
    </select>
        
    <insert id="insertSysMinerInfo" parameterType="com.mei.hui.miner.entity.SysMinerInfo" useGeneratedKeys="true" keyProperty="id">
        insert into sys_miner_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="minerId != null and minerId != ''">miner_id,</if>
            <if test="powerAvailable != null">power_available,</if>
            <if test="sectorPledge != null">sector_pledge,</if>
            <if test="sectorSize != null">sector_size,</if>
            <if test="sectorProving != null">sector_proving,</if>
            <if test="sectorAvailable != null">sector_available,</if>
            <if test="sectorError != null">sector_error,</if>
            <if test="lockAward != null">lock_award,</if>
            <if test="totalBlockAward != null">total_block_award,</if>
            <if test="balanceMinerAvailable != null">balance_miner_available,</if>
            <if test="balanceMinerAccount != null">balance_miner_account,</if>
            <if test="totalBlocks != null">total_blocks,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="balanceWorkerAccount != null">balance_worker_account,</if>
            <if test="sectorTotal != null">sector_total,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="minerId != null and minerId != ''">#{minerId},</if>
            <if test="powerAvailable != null">#{powerAvailable},</if>
            <if test="sectorPledge != null">#{sectorPledge},</if>
            <if test="sectorSize != null">#{sectorSize},</if>
            <if test="sectorProving != null">#{sectorProving},</if>
            <if test="sectorAvailable != null">#{sectorAvailable},</if>
            <if test="sectorError != null">#{sectorError},</if>
            <if test="lockAward != null">#{lockAward},</if>
            <if test="totalBlockAward != null">#{totalBlockAward},</if>
            <if test="balanceMinerAvailable != null">#{balanceMinerAvailable},</if>
            <if test="balanceMinerAccount != null">#{balanceMinerAccount},</if>
            <if test="totalBlocks != null">#{totalBlocks},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="balanceWorkerAccount != null">#{balanceWorkerAccount},</if>
            <if test="sectorTotal != null">#{sectorTotal},</if>
         </trim>
    </insert>

    <update id="updateSysMinerInfo" parameterType="com.mei.hui.miner.entity.SysMinerInfo">
        update sys_miner_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="minerId != null and minerId != ''">miner_id = #{minerId},</if>
            <if test="powerAvailable != null">power_available = #{powerAvailable},</if>
            <if test="sectorPledge != null">sector_pledge = #{sectorPledge},</if>
            <if test="sectorSize != null">sector_size = #{sectorSize},</if>
            <if test="sectorProving != null">sector_proving = #{sectorProving},</if>
            <if test="sectorAvailable != null">sector_available = #{sectorAvailable},</if>
            <if test="sectorError != null">sector_error = #{sectorError},</if>
            <if test="lockAward != null">lock_award = #{lockAward},</if>
            <if test="totalBlockAward != null">total_block_award = #{totalBlockAward},</if>
            <if test="balanceMinerAvailable != null">balance_miner_available = #{balanceMinerAvailable},</if>
            <if test="balanceMinerAccount != null">balance_miner_account = #{balanceMinerAccount},</if>
            <if test="totalBlocks != null">total_blocks = #{totalBlocks},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="balanceWorkerAccount != null">balance_worker_account = #{balanceWorkerAccount},</if>
            <if test="sectorTotal != null">sector_total = #{sectorTotal},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysMinerInfoById" parameterType="Long">
        delete from sys_miner_info where id = #{id}
    </delete>

    <delete id="deleteSysMinerInfoByIds" parameterType="String">
        delete from sys_miner_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="countByMinerId" resultType="Long">
        select count(1) from sys_machine_info where miner_id = #{minerId}
    </select>
    
    <select id="pageMinerInfo" resultType="com.mei.hui.miner.model.SysMinerInfoVO">
        SELECT
        mi.id,
        mi.user_id userId,
        mi.miner_id minerId,
        mi.balance_miner_account balanceMinerAccount,
        mi.balance_miner_available balanceMinerAvailable,
        mi.sector_pledge sectorPledge,
        mi.total_block_award totalBlockAward,
        mi.power_available powerAvailable,
        mi.total_blocks totalBlocks,
        mi.balance_worker_account balanceWorkerAccount,
        mi.sector_available sectorAvailable,
        mi.sector_error sectorError
        FROM
        sys_miner_info mi
        <where>
            <if test="userId != null and userId != 1">
                mi.user_id = #{userId}
            </if>
        </where>
        <choose>
            <when test="cloumName != null and cloumName != ''">
                <if test="'powerAvailable' == cloumName">
                    <choose>
                        <when test="isAsc == true">
                            ORDER BY mi.power_available
                        </when>
                        <otherwise>
                            ORDER BY mi.power_available desc
                        </otherwise>
                    </choose>
                </if>
                <if test="'balanceMinerAvailable' == cloumName">
                    <choose>
                        <when test="isAsc == true">
                            ORDER BY mi.balance_miner_available
                        </when>
                        <otherwise>
                            ORDER BY mi.balance_miner_available desc
                        </otherwise>
                    </choose>
                </if>
                <if test="'balanceMinerAccount' == cloumName">
                    <choose>
                        <when test="isAsc == true">
                            ORDER BY mi.balance_miner_account
                        </when>
                        <otherwise>
                            ORDER BY mi.balance_miner_account desc
                        </otherwise>
                    </choose>
                </if>
                <if test="'totalBlockAward' == cloumName">
                    <choose>
                        <when test="isAsc == true">
                            ORDER BY mi.total_block_award
                        </when>
                        <otherwise>
                            ORDER BY mi.total_block_award desc
                        </otherwise>
                    </choose>
                </if>
                <if test="'sectorPledge' == cloumName">
                    <choose>
                        <when test="isAsc == true">
                            ORDER BY mi.sector_pledge
                        </when>
                        <otherwise>
                            ORDER BY mi.sector_pledge desc
                        </otherwise>
                    </choose>
                </if>
                <if test="'balanceWorkerAccount' == cloumName">
                    <choose>
                        <when test="isAsc == true">
                            ORDER BY mi.balance_worker_account
                        </when>
                        <otherwise>
                            ORDER BY mi.balance_worker_account desc
                        </otherwise>
                    </choose>
                </if>
            </when>
            <otherwise>
                ORDER BY mi.power_available desc
            </otherwise>
        </choose>
    </select>

    <select id="selectAllBlocksPerDay" resultType="long">
        SELECT
            SUM(i.total_blocks) totalBlocks
        FROM
            sys_miner_info i
    </select>

    <select id="selectAllBalanceMinerAccount" resultType="decimal">
        SELECT
            SUM(i.balance_miner_account) balanceMinerAccount
        FROM
            sys_miner_info i;
    </select>

    <select id="selectAllPowerAvailable" resultType="decimal">
        SELECT
            SUM(i.power_available) powerAvailable
        FROM
            sys_miner_info i
    </select>

    <select id="selectAllMinerIdCount" resultType="long">
        SELECT
            COUNT(i.miner_id) minerCount
        FROM
            sys_miner_info i
        where i.power_available > 0
    </select>

    <select id="powerAvailablePage" resultType="com.mei.hui.miner.model.PowerAvailableFilVO">
        SELECT
            i.user_id userId,
            SUM(i.power_available) powerAvailable,
            SUM(i.total_block_award) totalBlockAward,
        SUM(i.total_blocks) totalBlocks,
        SUM(i.sector_available) totalSectorAvailable,
        SUM(i.sector_error) totalSectorError
        FROM
            sys_miner_info i
        GROUP BY
            i.user_id
        ORDER BY
            SUM(i.power_available) desc
    </select>

    <!--分页查询用户收益列表-->
    <select id="selectUserMoneyList" resultType="com.mei.hui.miner.feign.vo.FilUserMoneyVO">
        SELECT
        SUM(m.power_available) AS powerAvailable,
        SUM(m.total_block_award) as totalBlockAward,
        m.user_id as userId
        FROM sys_miner_info m
        <where>
            <if test="userId != null">
                m.user_id = #{userId}
            </if>
            <if test="userIdList != null and userIdList.size()>0">
                and m.user_id in
                <foreach collection="userIdList" item="userId" open="(" close=")" separator=",">
                    #{userId}
                </foreach>
            </if>
        </where>
        GROUP BY m.user_id
        <choose>
            <when test="cloumName != null and cloumName != ''">
                <if test="'powerAvailable' == cloumName">
                    <choose>
                        <when test="isAsc == true">
                            ORDER BY SUM(m.power_available)
                        </when>
                        <otherwise>
                            ORDER BY SUM(m.power_available) desc
                        </otherwise>
                    </choose>
                </if>
                <if test="'totalBlockAward' == cloumName">
                    <choose>
                        <when test="isAsc == true">
                            ORDER BY SUM(m.total_block_award)
                        </when>
                        <otherwise>
                            ORDER BY SUM(m.total_block_award) desc
                        </otherwise>
                    </choose>
                </if>
            </when>
            <otherwise>
                ORDER BY SUM(m.power_available) desc
            </otherwise>
        </choose>
    </select>

    <select id="getMinerAggData" resultType="com.mei.hui.miner.entity.MinerAggData">
        SELECT
            SUM(total_block_award) totalBlockAward,
            SUM(`power_available`) totalPower,
            SUM(`total_blocks`) totalBlocks
        FROM
            sys_miner_info
    </select>

    <select id="getActivityMinerCount" resultType="long">
        SELECT
            COUNT(id)
        FROM
            sys_miner_info
        WHERE
            power_available > 0
    </select>

    <select id="getYesterdayTotalBlocksCount" parameterType="String" resultType="long">
        SELECT
            SUM(total_blocks) yesterdayTotalBlocks
        FROM
            sys_agg_power_daily
        WHERE
            date = #{yesterdayDate}
    </select>

</mapper>