<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mei.hui.miner.mapper.SysMinerInfoMapper">
    
    <resultMap type="com.mei.hui.miner.entity.SysMinerInfo" id="SysMinerInfoResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="minerId"    column="miner_id"    />
        <result property="powerAvailable"    column="power_available"    />
        <result property="sectorPledge"    column="sector_pledge"    />
        <result property="sectorSize"    column="sector_size"    />
        <result property="sectorProving"    column="sector_proving"    />
        <result property="sectorAvailable"    column="sector_available"    />
        <result property="sectorError"    column="sector_error"    />
        <result property="lockAward"    column="lock_award"    />
        <result property="totalBlockAward"    column="total_block_award"    />
        <result property="balanceMinerAvailable"    column="balance_miner_available"    />
        <result property="balanceMinerAccount"    column="balance_miner_account"    />
        <result property="blocksPerDay" column="blocks_per_day" />
        <result property="totalBlocks" column="total_blocks"/>
        <result property="powerIncreasePerDay" column="power_increase_per_day"/>
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <resultMap id="SysTotalEarningResult" type="com.mei.hui.miner.entity.SysTotalEarning">
        <result property="totalEarning" column="total_earning"/>
        <result property="totalLockAward" column="total_lock_award"/>
    </resultMap>

    <sql id="selectSysMinerInfoVo">
        select id, user_id, miner_id, power_available, sector_pledge, sector_size, sector_proving, sector_available, sector_error, lock_award, total_block_award, balance_miner_available, balance_miner_account, blocks_per_day, total_blocks, power_increase_per_day, create_by, create_time, update_by, update_time from sys_miner_info
    </sql>

    <select id="selectSysMinerInfoList" parameterType="com.mei.hui.miner.entity.SysMinerInfo" resultMap="SysMinerInfoResult">
        <include refid="selectSysMinerInfoVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="minerId != null  and minerId != ''"> and miner_id = #{minerId}</if>
            <if test="powerAvailable != null "> and power_available = #{powerAvailable}</if>
            <if test="sectorPledge != null "> and sector_pledge = #{sectorPledge}</if>
            <if test="sectorSize != null "> and sector_size = #{sectorSize}</if>
            <if test="sectorProving != null "> and sector_proving = #{sectorProving}</if>
            <if test="sectorAvailable != null "> and sector_available = #{sectorAvailable}</if>
            <if test="sectorError != null "> and sector_error = #{sectorError}</if>
            <if test="lockAward != null "> and lock_award = #{lockAward}</if>
            <if test="totalBlockAward != null "> and total_block_award = #{totalBlockAward}</if>
            <if test="balanceMinerAvailable != null "> and balance_miner_available = #{balanceMinerAvailable}</if>
            <if test="balanceMinerAccount != null "> and balance_miner_account = #{balanceMinerAccount}</if>
        </where>
    </select>
    
    <select id="selectSysMinerInfoById" parameterType="Long" resultMap="SysMinerInfoResult">
        select id, user_id, miner_id, power_available, sector_pledge, sector_size, sector_proving, sector_available, sector_error, lock_award, total_block_award, balance_miner_available, balance_miner_account, blocks_per_day, total_blocks, power_increase_per_day, create_by, create_time, update_by, update_time from sys_miner_info
        where id = #{id}
    </select>

    <select id="selectSysMinerInfoByMinerId" parameterType="String" resultMap="SysMinerInfoResult">
        <include refid="selectSysMinerInfoVo"/>
        where miner_id = #{minerId}
    </select>

    <select id="selectSysMinerInfoByUserIdAndMinerId"  resultMap="SysMinerInfoResult">
        <include refid="selectSysMinerInfoVo"/>
        where user_id= #{userId} and miner_id = #{minerId}
    </select>

    <select id="selectTotalEarningAndAwardByUserId" parameterType="String" resultMap="SysTotalEarningResult">
        SELECT
          SUM(`total_block_award`) AS `total_earning`,
          SUM(`lock_award`) AS `total_lock_award`
        FROM
          `sys_miner_info`
        WHERE `miner_id` = #{minerId} ;
    </select>
        
    <insert id="insertSysMinerInfo" parameterType="com.mei.hui.miner.entity.SysMinerInfo" useGeneratedKeys="true" keyProperty="id">
        insert into sys_miner_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="minerId != null and minerId != ''">miner_id,</if>
            <if test="powerAvailable != null">power_available,</if>
            <if test="sectorPledge != null">sector_pledge,</if>
            <if test="sectorSize != null">sector_size,</if>
            <if test="sectorProving != null">sector_proving,</if>
            <if test="sectorAvailable != null">sector_available,</if>
            <if test="sectorError != null">sector_error,</if>
            <if test="lockAward != null">lock_award,</if>
            <if test="totalBlockAward != null">total_block_award,</if>
            <if test="balanceMinerAvailable != null">balance_miner_available,</if>
            <if test="balanceMinerAccount != null">balance_miner_account,</if>
            <if test="blocksPerDay != null">blocks_per_day,</if>
            <if test="totalBlocks != null">total_blocks,</if>
            <if test="powerIncreasePerDay != null">power_increase_per_day,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deadlineIndex != null">deadline_index,</if>
            <if test="deadlineSectors != null">deadline_sectors,</if>
            <if test="provingPeriodStart != null">proving_period_start,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="minerId != null and minerId != ''">#{minerId},</if>
            <if test="powerAvailable != null">#{powerAvailable},</if>
            <if test="sectorPledge != null">#{sectorPledge},</if>
            <if test="sectorSize != null">#{sectorSize},</if>
            <if test="sectorProving != null">#{sectorProving},</if>
            <if test="sectorAvailable != null">#{sectorAvailable},</if>
            <if test="sectorError != null">#{sectorError},</if>
            <if test="lockAward != null">#{lockAward},</if>
            <if test="totalBlockAward != null">#{totalBlockAward},</if>
            <if test="balanceMinerAvailable != null">#{balanceMinerAvailable},</if>
            <if test="balanceMinerAccount != null">#{balanceMinerAccount},</if>
            <if test="blocksPerDay != null">#{blocksPerDay},</if>
            <if test="totalBlocks != null">#{totalBlocks},</if>
            <if test="powerIncreasePerDay != null">#{powerIncreasePerDay},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deadlineIndex != null">#{deadlineIndex},</if>
            <if test="deadlineSectors != null">#{deadlineSectors},</if>
            <if test="provingPeriodStart != null">#{provingPeriodStart},</if>
         </trim>
    </insert>

    <update id="updateSysMinerInfo" parameterType="com.mei.hui.miner.entity.SysMinerInfo">
        update sys_miner_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="minerId != null and minerId != ''">miner_id = #{minerId},</if>
            <if test="powerAvailable != null">power_available = #{powerAvailable},</if>
            <if test="sectorPledge != null">sector_pledge = #{sectorPledge},</if>
            <if test="sectorSize != null">sector_size = #{sectorSize},</if>
            <if test="sectorProving != null">sector_proving = #{sectorProving},</if>
            <if test="sectorAvailable != null">sector_available = #{sectorAvailable},</if>
            <if test="sectorError != null">sector_error = #{sectorError},</if>
            <if test="lockAward != null">lock_award = #{lockAward},</if>
            <if test="totalBlockAward != null">total_block_award = #{totalBlockAward},</if>
            <if test="balanceMinerAvailable != null">balance_miner_available = #{balanceMinerAvailable},</if>
            <if test="balanceMinerAccount != null">balance_miner_account = #{balanceMinerAccount},</if>
            <if test="blocksPerDay != null">blocks_per_day = #{blocksPerDay},</if>
            <if test="totalBlocks != null">total_blocks = #{totalBlocks},</if>
            <if test="powerIncreasePerDay != null">power_increase_per_day = #{powerIncreasePerDay},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deadlineIndex != null">deadline_index = #{deadlineIndex},</if>
            <if test="deadlineSectors != null">deadline_sectors = #{deadlineSectors},</if>
            <if test="provingPeriodStart != null">proving_period_start = #{provingPeriodStart},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysMinerInfoById" parameterType="Long">
        delete from sys_miner_info where id = #{id}
    </delete>

    <delete id="deleteSysMinerInfoByIds" parameterType="String">
        delete from sys_miner_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="countByMinerId" resultType="Long">
        select count(1) from sys_machine_info where miner_id = #{minerId}
    </select>
</mapper>