<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mei.hui.miner.mapper.SysSectorsWrapMapper">
    
    <resultMap type="SysSectorsWrap" id="SysSectorsWrapResult">
        <result property="id"    column="id"    />
        <result property="minerId"    column="miner_id"    />
        <result property="hostname"    column="hostname"    />
        <result property="sectorNo"    column="sector_no"    />
        <result property="sectorSize"    column="sector_size"    />
        <result property="sectorStatus"    column="sector_status"    />
        <result property="sectorDuration"    column="sector_duration"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysSectorsWrapVo">
        select id, miner_id, hostname, sector_no, sector_size, sector_status, sector_duration, create_by, create_time, update_by, update_time from sys_sectors_wrap
    </sql>

    <select id="selectSysSectorsWrapListByUserId" parameterType="com.mei.hui.miner.entity.SysSectorsWrap" resultType="com.mei.hui.miner.entity.SysSectorsWrap">
        SELECT
        sys_sectors_wrap.id,
        sys_sectors_wrap.miner_id minerId,
        hostname,
        sector_no sectorNo,
        sys_sectors_wrap.sector_size sectorSize,
        sector_status sectorStatus,
        sector_duration sectorDuration,
        sys_sectors_wrap.create_by createBy,
        sys_sectors_wrap.create_time createTime,
        sys_sectors_wrap.update_by updateBy,
        sys_sectors_wrap.update_time updateTime
        FROM
        sys_sectors_wrap
        <where>
            <if test="minerId != null  and minerId != ''"> and sys_sectors_wrap.miner_id = #{minerId}</if>
            <if test="hostname != null  and hostname != ''"> and hostname like concat('%', #{hostname}, '%')</if>
            <if test="sectorNo != null "> and sector_no = #{sectorNo}</if>
            <if test="sectorSize != null "> and sector_size = #{sectorSize}</if>
            <if test="sectorStatus != null "> and sector_status = #{sectorStatus}</if>
            <if test="sectorDuration != null "> and sector_duration = #{sectorDuration}</if>
            <if test="beginTime != null and beginTime != ''">
                and sys_sectors_wrap.create_time >= #{beginTime}
            </if>
            <if test="endTime != null and endTime != ''">
                and #{endTime} >= sys_sectors_wrap.create_time
            </if>
            sys_sectors_wrap.miner_id in
            <foreach item="minerId" collection="minerIdList" open="(" separator="," close=")">
                #{minerId}
            </foreach>
        </where>
        <choose>
            <when test="cloumName != null and cloumName != ''">
                <if test="'sectorDuration' == cloumName">
                    <choose>
                        <when test="isAsc == true">
                            ORDER BY sys_sectors_wrap.sector_duration
                        </when>
                        <otherwise>
                            ORDER BY sys_sectors_wrap.sector_duration desc
                        </otherwise>
                    </choose>
                </if>
            </when>
            <otherwise>
                ORDER BY sys_sectors_wrap.create_time DESC
            </otherwise>
        </choose>
    </select>

    <select id="selectSysSectorsWrapList" parameterType="SysSectorsWrap" resultMap="SysSectorsWrapResult">
        <include refid="selectSysSectorsWrapVo"/>
        <where>  
            <if test="minerId != null  and minerId != ''"> and miner_id = #{minerId}</if>
            <if test="hostname != null  and hostname != ''"> and hostname like concat('%', #{hostname}, '%')</if>
            <if test="sectorNo != null "> and sector_no = #{sectorNo}</if>
            <if test="sectorSize != null "> and sector_size = #{sectorSize}</if>
            <if test="sectorStatus != null "> and sector_status = #{sectorStatus}</if>
            <if test="sectorDuration != null "> and sector_duration = #{sectorDuration}</if>
        </where>
    </select>
    
    <select id="selectSysSectorsWrapById" parameterType="Long" resultMap="SysSectorsWrapResult">
        <include refid="selectSysSectorsWrapVo"/>
        where id = #{id}
    </select>

    <select id="selectSysSectorsWrapByMinerIdAndSectorNo" parameterType="SysSectorsWrap" resultMap="SysSectorsWrapResult">
        <include refid="selectSysSectorsWrapVo"/>
        where miner_id = #{minerId} and sector_no = #{sectorNo}
    </select>
        
    <insert id="insertSysSectorsWrap" parameterType="SysSectorsWrap" useGeneratedKeys="true" keyProperty="id">
        insert into sys_sectors_wrap
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="minerId != null and minerId != ''">miner_id,</if>
            <if test="hostname != null and hostname != ''">hostname,</if>
            <if test="sectorNo != null">sector_no,</if>
            <if test="sectorSize != null">sector_size,</if>
            <if test="sectorStatus != null">sector_status,</if>
            <if test="sectorDuration != null">sector_duration,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="minerId != null and minerId != ''">#{minerId},</if>
            <if test="hostname != null and hostname != ''">#{hostname},</if>
            <if test="sectorNo != null">#{sectorNo},</if>
            <if test="sectorSize != null">#{sectorSize},</if>
            <if test="sectorStatus != null">#{sectorStatus},</if>
            <if test="sectorDuration != null">#{sectorDuration},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysSectorsWrap" parameterType="SysSectorsWrap">
        update sys_sectors_wrap
        <trim prefix="SET" suffixOverrides=",">
            <if test="minerId != null and minerId != ''">miner_id = #{minerId},</if>
            <if test="hostname != null and hostname != ''">hostname = #{hostname},</if>
            <if test="sectorNo != null">sector_no = #{sectorNo},</if>
            <if test="sectorSize != null">sector_size = #{sectorSize},</if>
            <if test="sectorStatus != null">sector_status = #{sectorStatus},</if>
            <if test="sectorDuration != null">sector_duration = #{sectorDuration},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysSectorsWrapById" parameterType="Long">
        delete from sys_sectors_wrap where id = #{id}
    </delete>

    <delete id="deleteSysSectorsWrapByIds" parameterType="String">
        delete from sys_sectors_wrap where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>