
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    　　<title>HTML Email邮件</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<style type="text/css">
    caption.app-name {
        font-size: xx-large;
    }
    #summary th {
        text-align: center;
        padding: 0 10px;
    }
    #summary td {
        padding: 0 10px;
        text-align: center;
    }
    table {
        margin-top: 50px;
    }
</style>
<body style="margin: 0; padding: 0;">

<table id="summary" align="center" border="1" cellpadding="0" cellspacing="0"  style="border-collapse: collapse;">
    <caption class="app-name">应用总体情况</caption>
    <thead>
    <th>序号</th>
    <th>period(应用时期)</th>
    <th>averageCostMsec(平均时间)</th>
    <th>maxCostMsec(最大时间)</th>
    <th>minCostSec(最小时间)</th>
    </thead>
    #set ($index = 0)
    #foreach( $appInfo in $appInfos)
        #set ($index = $index + 1)
        <tr>
            <td>$!index</td>
            <td>$!appInfo.getPeriod()</td>
            <td>$!appInfo.getAverageCostMsec()</td>
            <td>$!appInfo.getMaxCostMsec()</td>
            <td>$!appInfo.getMinCostSec()</td>
        </tr>
    #end
</table>



    #foreach( $appInfo in $appInfos )
    <table id="summary" align="center" border="1" cellpadding="0" cellspacing="0"  style="border-collapse: collapse;">
        <caption class="app-name">$!appInfo.getPeriod()</caption>
        <thead>
        <th>序号</th>
        <th>from(开始)</th>
        <th>to(终止)</th>
        <th>count(次数)</th>
        <th>desc(描述)</th>
        </thead>
        #set ($index = 0)
        #foreach($ds in $appInfo.getDistributing())
            #set ($index = $index + 1)
            <tr>
                <td>$!index</td>
                #if( "$!ds.getFrom()" == "" )
                    <td>0</td>
                #else
                    <td>$!ds.getFrom()</td>
                #end

                #if( "$!ds.getTo()" == "" )
                    <td>0</td>
                #else
                    <td>$!ds.getTo()</td>
                #end

                <td>$!ds.getCount()</td>
                <td>$!ds.getDesc()</td>
            </tr>
        #end
    </table>
    #end

</body>
</html>