<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>存储池数据详情</title>

</head>

<body>
<table th:each="item:${list}" style="margin-top: 20px;font-size: 12px;border-spacing: 0;box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);">

    <tbody>
    <tbody>

    <tr>
        <td align="center" valign="middle" th:text="${item.minerId}" colspan="2" style="padding: 17px 15px;"></td>
    </tr>
    <tr>
        <th align="center" valign="middle" style="padding: 17px 15px;background-color: #FFFFFF;color: #313131;border-top: 1px solid #dfe6ec;font-weight: 400;">有效算力</th>
        <td align="center" valign="middle" th:text="${item.powerAvailable} + ${item.powerAvailableUnit}" style="padding: 17px 15px;background-color: #FFFFFF;color: #313131;font-weight: bold;border-top: 1px solid #dfe6ec;"></td>
    </tr>
    <tr>
        <th align="center" valign="middle" style="padding: 17px 15px;background-color: #FFFFFF;color: #313131;border-top: 1px solid #dfe6ec;font-weight: 400;">算力增速</th>
        <td align="center" valign="middle"
            th:text="${item.powerIncreasePerDay} + ${item.powerIncreasePerDayUnit}" style="padding: 17px 15px;background-color: #FFFFFF;color: #313131;font-weight: bold;border-top: 1px solid #dfe6ec;"></td>
    </tr>
    <tr>
        <th align="center" valign="middle" style="padding: 17px 15px;background-color: #FFFFFF;color: #313131;border-top: 1px solid #dfe6ec;font-weight: 400;">24H出块</th>
        <td align="center" valign="middle" th:text="${item.blocksPerDay}" style="padding: 17px 15px;background-color: #FFFFFF;color: #313131;font-weight: bold;border-top: 1px solid #dfe6ec;"></td>
    </tr>
    <tr>
        <th align="center" valign="middle" style="padding: 17px 15px;background-color: #FFFFFF;color: #313131;border-top: 1px solid #dfe6ec;font-weight: 400;">可用余额</th>
        <td align="center" valign="middle" style="padding: 17px 15px;background-color: #FFFFFF;color: #313131;font-weight: bold;border-top: 1px solid #dfe6ec;">[[${item.balanceMinerAvailable}]] FIL</td>
    </tr>
    <tr>
        <th align="center" valign="middle" style="padding: 17px 15px;background-color: #FFFFFF;color: #313131;border-top: 1px solid #dfe6ec;font-weight: 400;">Worker余额</th>
        <td align="center" valign="middle" th:style="${item.balanceWorkerAccount < 50}? 'color: red;padding: 17px 15px;background-color: #FFFFFF;font-weight: bold;border-top: 1px solid #dfe6ec;':'padding: 17px 15px;background-color: #FFFFFF;color: #313131;font-weight: bold;border-top: 1px solid #dfe6ec;'">
            [[${item.balanceWorkerAccount}]] FIL</td>
    </tr>
    <tr>
        <th align="center" valign="middle" style="padding: 17px 15px;background-color: #FFFFFF;color: #313131;border-top: 1px solid #dfe6ec;font-weight: 400;">PoSt余额</th>
        <td align="center" valign="middle" th:style="${item.postBalance < 50}? 'color: red;padding: 17px 15px;background-color: #FFFFFF;font-weight: bold;border-top: 1px solid #dfe6ec;':'padding: 17px 15px;background-color: #FFFFFF;color: #313131;font-weight: bold;border-top: 1px solid #dfe6ec;'">
            [[${item.postBalance}]] FIL</td>
    </tr>
    <tr>
        <th align="center" valign="middle" style="padding: 17px 15px;background-color: #FFFFFF;color: #313131;border-top: 1px solid #dfe6ec;font-weight: 400;">有效/错误扇区</th>
        <td align="center" valign="middle" style="padding: 17px 15px;background-color: #FFFFFF;color: #313131;font-weight: bold;border-top: 1px solid #dfe6ec;">
            <span th:text="${item.sectorAvailable}"></span><span>/</span><span th:text="${item.sectorError}"
                                                                               th:style="${item.sectorError > 0}? 'color: red;'"></span>
        </td>
    </tr>
    </tbody>
</table>
</body>

</html>